@import "@jaimemartinmartin15/jei-devkit-angular-shared/styles/utils";
@import "@jaimemartinmartin15/jei-devkit-angular-shared/styles/links";

body {
  margin: 0;
  padding: 0;
  font-family: "ProximaNova", sans-serif;
  font-size: 1.125rem;
}
